{% extends 'base.html.twig' %}

{% block title %}Edit Question{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Edit Question</h1>

            {{ include('question/_form.html.twig', {'button_label': 'Update'}) }}

            <a href="{{ path('question_index') }}">back to list</a>

            {{ include('question/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
