{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Questions</h1>

            <a class="float-right btn btn-success" href="{{ url('question_new') }}"><i class="fa fa-plus"></i> Add question</a>

            <div class="clearfix"></div>
            <br>

            {% if questions is not empty %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>QuestionText</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for question in questions %}
                        <tr>
                            <td>{{ question.id }}</td>
                            <td>{{ question.questionText }}</td>
                            <td>
                                <a class="btn btn-warning" href="{{ path('question_edit', {'id': question.id}) }}">edit</a>
                                <a class="btn btn-primary" href="{{ path('question_show', {'id': question.id}) }}">show</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-primary">No entries found</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
