{% extends 'base.html.twig' %}

{% block title %}Question{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Question</h1>

            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ question.id }}</td>
                </tr>
                <tr>
                    <th>QuestionText</th>
                    <td>{{ question.questionText }}</td>
                </tr>
                </tbody>
            </table>

            <a href="{{ path('question_index') }}">back to list</a>

            <a href="{{ path('question_edit', {'id': question.id}) }}">edit</a>

            {{ include('question/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
