/*
* Global styles
*/

@import "~bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
    margin-bottom: 60px;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: $light;
}

.navbar {
    .admin-menu {
        border-right: 1px solid $light;
        padding-right: 1em;
        margin-right: 1em;
    }
}
